@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Teach-Assist!</h1>
    <p>The sign-in is not working yet, so click the Teach-Assist logo in the top left.</p>
</div>
