/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #929eba;
  border: #1861ac;
}

#user-account-btn{
    height: 65%;
    margin-right: 20px;
    border: 3px solid #383a86;
    color: #fffffa;
    font-weight: bold;
    background-color: #383a86;
}

#user-settings-btn{
    height: 65%;
    margin-right: 20px;
    border: 3px solid #383a86;
    color: #fffffa;
    font-weight: bold;
    background-color: #383a86;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#user-settings-icon {
    height: 14px;
}

#user-settings-btn:hover {
    border: 3px groove #040469;
    border-radius: 10px;
}

#user-account-btn:hover {
    border: 3px groove #040469;
    border-radius: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #fffffa;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* SHARED STYLES
-------------------------------------------------- */

#action-menu {
    position: relative;
    border: none;
    border-radius: 0px;
    margin-top: 5px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

    #action-menu button {
        height: 65%;
        margin-right: 20px;
        border: 3px solid #383a86;
        color: #fffffa;
        font-weight: bold;
        background-color: #383a86;
        
    }

    #action-menu button:hover {
    border: 3px groove #040469;
    border-radius: 10px;
}
/* DASHBOARD SPECIFIC - MAYBE MOVE TO SEPARATE STYLESHEET
-------------------------------------------------- */

#dashboard {
}

#widget-grid-area {
    float: left;
    background-color: white;
    border: 4px groove black;
    border-radius: 5px;
    min-height: 500px;
    height: 100%;
    width: 80%;
    margin-left: 0.5%;
}

#widget-selection-menu {
    display: inline;
    float: right;
    background-color: white;
    border: none;
    border-radius: 0px;
    min-height: 300px;
    height: 100%;
    width: 15%;
    margin-top: 0.5%;
    margin-right: 0.5%;
}

/* WIDGET EDITOR SPECIFIC - MAYBE MOVE TO SEPARATE STYLESHEET
-------------------------------------------------- */

#dashboard {
}

#widget-editor-area {
    float: left;
    background-color: white;
    border: 4px groove black;
    border-radius: 5px;
    min-height: 500px;
    height: 100%;
    width: 80%;
}

table, td, th {
    padding: 8px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0.5px;
    padding: 0.5em;
}

#name_of_table{
    display: block;
    background-color: red;
}

caption{
    padding: 5px;
    border: 1px solid black;
}

#default_table{
    position: absolute;
}

/*#default_table:hover {
    cursor: grab;
}*/

.widget_helper_table {
    border: 1px groove #040469;
    border-radius: 10px;
}

.sidebar_widget_helper {
    border: 1px groove #040469;
    border-radius: 10px;
}

.widget_editor_widget_helper {
    border: 1px groove #040469;
    border-radius: 10px;
}

.widget_helper_heading {
    text-align: center;
}

.widget_helper_function_output {
    min-width: 50px;
    min-height: 50px;
}

.sidebar_widget_helper_dropdown {
    width: 80%;
}

.sidebar_widget_helper select {
    margin: auto;
    width: 100%;
}

.widget_helper_graph_output {
    min-width: 50px;
    min-height: 50px;
}


/* SIDEBAR CSS - MAYBE MOVE TO SEPARATE STYLESHEET
-------------------------------------------------- */

#widget-editor-side-bar {
    display: inline;
    float: right;
    background-color: white;
    border: none;
    border-radius: 0px;
    min-height: 350px;
    height: 125%;
    width: 15%;
    margin-top: 0.5%;
    margin-right: 2%;

}

#widget-editor-side-bar img {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

}

#flashing_text {
    position: absolute;
    top: 18%;
    left: 50%;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    text-align: center;
    font-size: medium;
    display: none;
}



/*Hover border colors*/
.sidebar_widget_helper:hover {
    cursor: grab;
    border: 4px groove #040469;
    border-radius: 10px;
}

.ui-draggable:hover {
    cursor: grab;
    border: 4px groove #040469;
    border-radius: 10px;
}

.widget_helper_table:hover {
    cursor: grab;
    border: 4px groove #040469;
    border-radius: 10px;
}

.jsplumb-endpoint:hover {
    cursor: grab;
    border: 4px groove #040469;
    border-radius: 10px;
}




