@{
    ViewData["Title"] = "Widget Editor";
}

@section Scripts {
    <script src="~/js/JQuery/jquery-1.12.4.js"></script>
    <script src="~/js/JQuery/jquery-ui.js"></script>

    <script>
        $(function () {

            $(".sidebar_widget").draggable({
                revert: "invalid",
                appendTo: "#widget-editor-area",
                helper: "clone",
                cursor: "move",
                start: function () { },
                stop: function () {
                    console.log('stopped')
                },
            });

            $("#widget-editor-area").droppable({
                accept: ".sidebar_widget",
                drop: function (event, ui) {

                    if (ui.draggable.hasClass("sidebar_widget")) {
                        var $item = $(ui.draggable).clone().appendTo("#widget-editor-area");
                        $item.removeClass("sidebar_widget");

                        //if ($item.hasClass("#add_output_btn")) {
                        //    console.log("has class");
                        //}

                        makeDraggable($item);
                    }

                    function makeDraggable($item) {
                        $item.draggable({
                            containment: "#widget-editor-area",
                            start: function () {},
                            stop: function () {
                                console.log('stopped')
                            }
                        });
                    }


                }
            })


            //$iteration = 0;
        })</script>

}

<div id="action-menu">
    <button id="cancel_widget_btn" onclick="window.location = '@Url.Action("Index", "Dashboard")'">Cancel</button>
    <button id="save_widget_btn" onclick="window.location = '@Url.Action("SaveWidget", "WidgetEditor")'">Save Widget</button>
    <!-- Confirm with user first before deleting -->
    <button id="delete_widget_btn" onclick="window.location = '@Url.Action("DeleteWidget", "WidgetEditor")'">Delete Widget</button>
</div>
<div id="widget-editor">
    <div id="widget-editor-area">
    </div>
    <div id="widget-editor-side-bar">
        <img class="sidebar_widget" id="add_output_btn" src="~/Images/addoutput.png" alt="addOutput_btn">
        <img class="sidebar_widget" id="avg_output_btn" src="~/Images/avgoutput.png" alt="avgOutput_btn">
        <img class="sidebar_widget" id="bar_graph_btn" src="~/Images/bargraph.png" alt="barGraph_btn">
        <img class="sidebar_widget" id="pie_chart_btn" src="~/Images/piechart.png" alt="pieChart_btn">
    </div>

</div>